body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    color: #ffffff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  header h1 {
    margin: 0;
  }

  header h1 a:link{
    text-decoration: none;
    color: tomato;
  }

  header h1 a:visited{
    text-decoration: none;
    color: tomato;
  }

  header h1 a::after{
    text-decoration: none;
  }



  .header_buttons {
    display: flex;
  }

  .btn_primary,
.btn_secondary {
  background-color: tomato; /* Primary color */
  color: #ffffff;
  border: none;
  border-radius: 9px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.btn_secondary {
    background-color: tomato; /* Complementary color */
  }
  
  
  section {
    padding: 20px;
  }
  
  .job {
    border: 1px solid tomato;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .job h2 {
    margin-top: 0;
  }
  
  .applyBtn {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  