<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">
</head>
<body>
  <header class="navbar">
    <div class="brand"><a href="{% url 'index' %}">Seeker</a></div>
    <div class="profile-options"><a href="{% url 'logout' %}">Logout</a></div>
  </header>
  <main class="container">
    <div class="profile-header">
      <h1>Hello, {{ profile.user.username }} <span class="wave">👋</span></h1>
    </div>
    <div class="profile-content">
      <div class="profile-picture">
        <img src="{% static 'images/profile.webp' %}" alt="Profile Picture" id="profile-img">
        <input type="file" id="file-input" style="display: none;">
        <br><br>
        <button onclick="document.getElementById('file-input').click()">Choose Picture</button>
      </div>
      <div class="profile-details">
        <h2>Profile Information</h2>
        <ul>
          <li><strong>Full Name:</strong> {{ profile.user.full_name }}</li>
          <li><strong>Interests:</strong> {{ profile.interests }}</li>
          <li><strong>Skills:</strong> {{ profile.skills }}</li>
          <li><strong>Education Level:</strong> {{ profile.education }}</li>
        </ul>
        <button><a href="{% url 'edit-profile' %}">Edit Profile</a></button>
      </div>
    </div>
  </main>
  <script src="script.js"></script>
</body>
</html>
